<app-view-switcher></app-view-switcher>
<div class="month">
  <div class="day-of-week" *ngFor="let head of state.days">{{head}}</div>
  <div class="day-of-month" [class.disabled]="!day.date" [class.current-day]="day.date === calendar.currentDate" *ngFor="let day of state.lessonsRender">
    <div class="day">{{day.date}}</div>
    <div class="lessons-container">
      <div *ngFor="let lesson of day.lesson">
        <app-day-of-month [lesson]="lesson"></app-day-of-month>
      </div>
    </div>
  </div>
</div>

