<main>
  <button class="switcher" (click)="changeTemplate()">{{mode}}</button>
  <form *ngIf="isLogin; else elseBlock" [formGroup]="form" (submit)="login()" class="form-field">
    <p>
      <label for="email">Your email</label>
      <input formControlName="email" type="text" id="email">
    </p>
    <p>
      <label for="password">Your password</label>
      <input formControlName="password" type="password" id="password">
    </p>
    <p>
    <select formControlName="user_role">
      <option *ngFor="let user_role of roles" [ngValue]="user_role">
        {{ user_role }}
      </option>
    </select>
  </p>
    <p>
      <button type="submit" [disabled]="!form.valid">Submit</button>
    </p>
  </form>
  <ng-template #elseBlock>
    <form [formGroup]="form" (submit)="register()" class="form-field">
      <p *ngFor="let input of formFields">
        <label [for]="input.field">{{input.text}}</label>
        <input [formControlName]="input.field" [type]="input.type" [id]="input.field">
      </p>

      <p>
        <select formControlName="user_role">
          <option *ngFor="let user_role of roles" [ngValue]="user_role">
            {{ user_role }}
          </option>
        </select>
      </p>

      <p>
        <button type="submit" [disabled]="!form.valid">Submit</button>
      </p>
    </form>
  </ng-template>
</main>

