/* You can add global styles to this file, and also import other style files */
/* angular-cli file: src/styles.css */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  box-sizing: border-box;
}
.tooltip-inner {
  background-color: #000;
  color: #FFF;
  padding: 2px 4px;
  border-radius: 4px;
}
